/*@media only screen and (min-width: 1200px) {*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

html,
body,
.app {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  position: relative;
  overflow: hidden;
  z-index: 20;
  -webkit-transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.25s ease;
}

.app--menu {
  -webkit-transform: translateX(calc(-100% + 70px));
}

.app--search {
  -webkit-transform: translateY(-30px);
  height: calc(100% + 30px);
}

.app--search .logo {
  font-size: 22px;
  -webkit-transform: translateY(10px);
}

.app--search .logo i {
  font-size: 18px;
}

.app--menu + .menu {
  display: block;
}

.menu {
  display: none;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding-left: 70px;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
  -webkit-animation: fadeIn 0.4s ease;
}

.menu__options {
  padding: 10px;
  list-style: none;
}

.menu__item {
  display: block;
  text-align: center;
  background-color: rgb(10, 157, 255);
  color: #fff;
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 14px;
}

.menu__icon {
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.menu__item--done {
  color: #555;
}

.logo {
  position: absolute;
  display: block;
  width: 200px;
  left: 50%;
  bottom: 16px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -2px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  font-family: 'Droid Sans', sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.logo small {
  font-size: 40%;
  font-weight: normal;
  letter-spacing: 0;
  text-transform: uppercase;
}

#logo__icon {
  -webkit-transition: -webkit-transform 0.25s ease;
}

.logo:hover span {
  border-color: red;
}

.controls {
  display: none;
  flex: 1;
  justify-content: flex-end;
}

.controls__add {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  font-size: 28px;
}

.controls__btn {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.25s ease;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*.controls__btn:hover {
  border-color: #fff;
}
*/
.controls__btn--active {
  background-color: rgb(0, 110, 184);
  border-color: transparent;
  -webkit-transition: all 0.25s ease;
}

.controls__btn--active i {
  -webkit-transition: all 0.5s ease;

  -webkit-transform: rotate(-45deg);
}

/*.controls__btn--active:hover {
  border-color: transparent;
}*/

.header {
  display: flex;
  padding: 10px;
  background-color: rgb(10, 157, 255);
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px rgba(0,0,0,0.4);
  position: relative;
  position: relative;
  z-index: 20;
  min-height: 66px;
  border-bottom: 1px solid rgb(84, 173, 207);
}

.content {
  flex: 1;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  background-color: #444;
  overflow-y: auto;
  bottom: 0;
  position: absolute;
  right: 0;
  left: 0;
  top: 66px;
}

.search {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  margin-bottom: 60px;
}

.search__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #999;
  z-index: 70;
}

.search__input {
  background: #fff;
  height: 44px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #555;
  font-weight: bold;
  position: relative;
  z-index: 60;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.search__input:focus {
  outline: 0;
}

.search__input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
  font-weight: inherit;
}

.search__flyout {
  display: none;
  height: 142px; /* NEEDS TO BE SET DYNAMICALLY */
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 100%;
  left: 0;
  z-index: 50;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: -webkit-transform 0.2s ease;
}

.search__scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-transform: translateZ(0);
  -webkit-overflow-scrolling: touch;
}

.result {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
}


.result:hover {
  background-color: #eee;
}

.result--highlight:hover {
  background-color: #ddd;
}

.result:first-of-type {
  border-top: none;
}

.result__thumb {
  width: 36px;
  height: 36px;
  background-color: #ddd;
  margin-right: 10px;
  background-size: cover;
}

.result__title {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.result small {
  color: #999;
  display: block;
}

.chart {
  width: 100%;
  max-width: 600px;
  display: none;
  -webkit-animation: fadeIn 0.25s ease;
}

.chart__hd {
  -webkit-animation: fadeInDown 0.25s ease;
}

.countdown {
  margin-bottom: 40px;
  counter-reset: countdown;
  position: relative;
}

.countdown__count {
  display: none;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  color: #555;
  font-size: 32px;
  font-weight: bold;
}

.countdown__count li {
  height: 112px;
  display: none;
  align-items: center;
}

.chart__title {
  font-size: 16px;
  line-height: 1;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

.coach {
  text-align: center;
  font-size: 51px;
  color: #999;
  font-weight: 100;
  position: relative;
  margin-top: 60px;
}

.item {
  display: flex;
  cursor: -webkit-grab;
  position: relative;
  align-items: center;
  margin-bottom: -1px;
  z-index: 20;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.item__body {
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid #ddd;
}

.item__thumb {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  border: 1px solid #555;
  margin-right: 20px;
  background-size: cover;
}

.item__title {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 1.2;
  flex: 1;
  justify-content: center;
}

.item__title small {
  color: #bbb;
  font-weight: normal;
  margin-top: 5px;
}

.item--placeholder {
  -webkit-animation: fadeIn 0.5s ease;
  z-index: 10;
}

.item--placeholder:before {
  display: none;
}

.item:first-of-type .shuffle__arrow--up {
  display: none;
}

.item:last-of-type .shuffle__arrow--down {
  display: none;
}

.item--placeholder .item__body {
  margin-left: 60px;
  margin-right: 50px;
  height: 122px;
  background-color: #eee;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
  color: #999;
  padding-left: 20px;
}

.delete {
  display: none;
  visibility: hidden;
  width: 60px;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
}

.delete:hover {
  color: #fff;
}

.shuffle {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition-delay: 0.25s;
  height: 100%;
  align-items: center;
  justify-content: center;
  width: 50px;
  flex-direction: column;
}

.shuffle__arrow {
  font-size: 32px;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 40px !important;
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
}

.shuffle__arrow--up:hover {
  color: rgb(128, 245, 36);
}

.shuffle__arrow--down:hover {
  color: rgb(255, 71, 0);
}

.item:hover .shuffle {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeInLeft 0.25s 0.25s ease;
}
/*
.item:hover .delete {
  visibility: visible;
  -webkit-animation: fadeInRight 0.25s ease;
}*/

.share {
  display: none;
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 320px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(0,0,0,0);
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.25s ease;
}

.share:hover {
  border-color: #FF5C00;
}

.charts {
  width: 100%;
  max-width: 1200px;
}

.tile {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  cursor: pointer;
  position: relative;
  padding: 5px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.6);
  -webkit-transition: all 0.25s ease;
}

.tile:hover {
  background-color: #fff;
}

.tile__cover {
  overflow: hidden;
  height: 200px;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
  -webkit-transition: all 0.25s ease;
  flex-flow: row wrap;
}

.tile__cover--filled {
  border-color: transparent;
}

.tile__item {
  height: 50%;
  flex-basis: 50%;
  background-size: cover;
  background-position: center;
  -webkit-animation: fadeIn 0.5s ease;
  display: none;
  overflow: hidden;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
}

.tile__item img {
  visibility: hidden;;
}

.tile__title {
  color: #3A3A3A;
  font-size: 16px;
  text-align: center;
  padding: 14px 20px;
}

.tile:hover .tile__title {
  color: #111;
}

.tile__item:nth-child(3),
.tile__item:nth-child(4),
.tile__item:nth-child(5) {
  flex-basis: 33.333333333%;
}

.tile__action {
  text-align: center;
  background-color: rgb(10, 157, 255);
  color: #fff;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 4px;
  font-size: 22px;
  -webkit-transition: all 0.25s ease;
}

.tile:hover .tile__action {
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.user {
  background-color: #2E2E2E;
  display: flex;
  padding: 20px;
  position: relative;
  justify-content: center;
}

.user__edit {
  display: none !important;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 40px !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.user__edit:hover {
  background-color: #ddd;
}

.user__thumb {
  max-width: 70px;
  margin-right: 20px;
}

.user__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.user__title {
  color: #fff;
}

.user__caption {
  color: #999;
  font-weight: 200;
}

/* SCENES */


.content--show-chart .charts {
  display: none;
}

@media only screen and (min-width: 768px) {

  .search__input {
    height: 55px;
  }

  .result__thumb {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .result--highlight {
    background-color: #ddd;
    border-top-color: #ccc;
    box-shadow: inset 0 -1px 0 #ccc, inset 1px 0 0 #ccc,inset -1px 0 0 #ccc;
  }

  .controls {
    display: none;
  }

  .app--search {
    -webkit-transform: translateY(0);
    height: 100%;
  }

  .app--search .logo {
    font-size: 28px;
    -webkit-transform: translateY(0);
  }

  .app--search .logo i {
    font-size: 100%;
  }


  .app--menu {
    -webkit-transform: translateX(-320px);
  }

  .menu {
    padding-left: 0;
    max-width: 320px;
  }

  .header {
    padding: 10px 20px;
  }

  .tile {
    flex-basis: calc(50% - 20px);
    margin-left: 20px;
  }

  .delete,
  .shuffle {
    display: flex;
  }

  .content {
    padding: 40px 20px;
  }

  .countdown__count {
    display: block;
  }

  .charts {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -20px;
  }

  .chart__title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .item {
    height: 112px;
  }

  .item__cover {
    height: 35vh;
  }

  .item__thumb {
    width: 80px;
    height: 80px;
  }

  .item__body {
    padding: 15px 20px;
  }

  .item__title {
    font-size: 16px;
  }

  .tile__cover {
    height: 320px;
  }

  .search__flyout {
    height: 213px;
    overflow: hidden;
  }

}

@media only screen and (min-width: 1024px) {

  .tile {
    flex-basis: calc(33.333333333% - 20px);
  }

}