/*@media only screen and (min-width: 1200px) {*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body,
.app {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #333;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  position: relative;
  overflow: hidden;
  z-index: 20;
  -webkit-transition: -webkit-transform 0.25s ease;
}

.app--menu {
  -webkit-transform: translateX(-320px);
}

.menu {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  max-width: 320px;
  width: 100%;
  box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
}

.logo {
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: -2px;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
  font-family: 'Droid Sans', sans-serif;
}

.logo span {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.16);
  text-shadow: none;
  margin-left: 5px;
  letter-spacing: -1px;
  font-size: 80%;
  border-bottom: 1px solid transparent;
}

#logo__icon {
  -webkit-transition: -webkit-transform 0.25s ease;
}

.logo:hover span {
  border-color: red;
}

.controls {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.controls__add {
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  font-size: 28px;
}

.controls__btn {
  display: flex;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  border-radius: 2px;
  font-weight: bold;
  border: 1px solid rgba(0, 0, 0, 0.09);
  -webkit-transition: all 0.25s ease;
}

.controls__btn:hover {
  border-color: #fff;
}

.controls__btn--active {
  background-color: rgb(0, 110, 184);
  border-color: transparent;
}

.controls__btn--active:hover {
  border-color: transparent;
}

.header {
  display: flex;
  padding: 10px 20px;
  background-color: rgb(10, 157, 255);
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  position: relative;
  position: relative;
  z-index: 20;
  border-bottom: 1px solid rgb(23, 122, 160);
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 40px 20px;
  background-color: #444;
  overflow-y: auto;
  height: 100%;
}

.search {
  display: flex;
  flex: 1;
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 420px;
  /* THIS IS FICKED */
  margin-left: 90px;
  margin-bottom: 60px;
}

.search__icon {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #999;
  z-index: 70;
}

.search__input {
  background: #fff;
  height: 55px;
  padding: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  border-radius: 2px;
  font-size: 18px;
  font-family: 'Helvetica Neue';
  color: #555;
  font-weight: bold;
  position: relative;
  z-index: 60;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.search__input:focus {
  outline: 0;
}

.search__input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
  font-weight: inherit;
}

.search__flyout {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  z-index: 50;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  -webkit-transition: -webkit-transform 0.2s ease;
  -webkit-transform: translateZ(0);
}

.result {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #ddd;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease;
}

.result--highlight {
  background-color: #ddd;
  border-top-color: #ccc;
  box-shadow: inset 0 -1px 0 #ccc, inset 1px 0 0 #ccc,inset -1px 0 0 #ccc;
}


.result:hover {
  background-color: #eee;
}

.result--highlight:hover {
  background-color: #ddd;
}

.result:first-of-type {
  border-top: none;
}

.result:last-of-type {
  padding-bottom: 20px;
}

.result__thumb {
  width: 50px;
  height: 50px;
  background-color: #ddd;
  margin-right: 20px;
  background-size: cover;
}

.result__title {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.chart {
  width: 100%;
  max-width: 600px;
  display: none;
  -webkit-animation: fadeIn 0.25s ease;
}

.countdown {
  margin-bottom: 40px;
  counter-reset: countdown;
  position: relative;
}

.countdown__count {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  color: #777;
  font-size: 32px;
  font-weight: bold;
}

.countdown__count li {
  height: 112px;
  display: none;
  align-items: center;
}

.chart__title {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.coach {
  text-align: center;
  font-size: 51px;
  color: #999;
  font-weight: 100;
  position: relative;
  margin-top: 60px;
}

.item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: -1px;
  z-index: 20;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  -webkit-transition: all 0.4s ease;
}

.item:nth-child(2) {
  top: 112px;
}

.item:nth-child(3) {
  top: 224px;
}

.item:nth-child(4) {
  top: 336px;
}

.item:nth-child(5) {
  top: 448px;
}

.item__body {
  padding: 15px 20px;
  background-color: #fff;
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid #ddd;
}

.item__thumb {
  width: 80px;
  height: 80px;
  background-color: #ddd;
  border: 1px solid #555;
  margin-right: 20px;
  background-size: cover;
}

.item__title {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.2;
  flex: 1;
  justify-content: center;
}

.item__title small {
  color: #bbb;
  font-weight: normal;
  margin-top: 5px;
}

.item--placeholder {
  -webkit-animation: fadeIn 0.5s ease;
  z-index: 10;
}

.item--placeholder:before {
  display: none;
}

.item:first-of-type .shuffle__arrow--up {
  display: none;
}

.item:last-of-type .shuffle__arrow--down {
  display: none;
}

.item--placeholder .item__body {
  margin-left: 60px;
  margin-right: 50px;
  height: 122px;
  background-color: #eee;
  font-size: 20px;
  justify-content: center;
  font-weight: bold;
  color: #999;
  padding-left: 20px;
}

.delete {
  visibility: hidden;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
}

.delete:hover {
  color: #fff;
}

.shuffle {
  visibility: hidden;
  opacity: 0;
  -webkit-transition-delay: 0.25s;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  flex-direction: column;
}

.shuffle__arrow {
  font-size: 32px;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 40px !important;
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
}

.shuffle__arrow--up:hover {
  color: rgb(128, 245, 36);
}

.shuffle__arrow--down:hover {
  color: rgb(255, 71, 0);
}

.item:hover .shuffle {
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeInLeft 0.25s 0.25s ease;
}
/*
.item:hover .delete {
  visibility: visible;
  -webkit-animation: fadeInRight 0.25s ease;
}*/

.share {
  display: none;
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 320px;
  text-align: center;
  font-weight: bold;
  background-color: rgb(0,0,0,0);
  padding: 20px;
  border-radius: 4px;
  color: #fff;
  border: 2px solid #fff;
  -webkit-transition: all 0.25s ease;
}

.share:hover {
  border-color: #FF5C00;
}

.charts {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-flow: wrap row;
  align-content: space-between;
  -webkit-animation: fadeIn 0.25s ease;
}

.tile {
  flex: 1;
  flex-basis: calc(50% - 20px);
  margin-left: 20px;
  cursor: pointer;
  position: relative;
  background-color: #333;
  margin-bottom: 20px;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.8);
}

.tile__cover {
  height: 300px;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.4);
  -webkit-transition: all 0.25s ease;
  flex-flow: row wrap;
}

.tile__cover--filled {
  background: none;
  border-color: transparent;
}

.tile__item {
  height: 50%;
  flex-basis: 50%;
  background-size: cover;
  -webkit-animation: fadeIn 0.5s ease;
  display: none;
  overflow: hidden;
}

.tile__item img {
  min-height: 100%;
  width: 100%;
}

.tile__title {
  color: #eee;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #494949;
}

.tile__item:nth-child(3),
.tile__item:nth-child(4),
.tile__item:nth-child(5) {
  flex-basis: 33.333333333%;
}

.tile:hover .tile__title {
  text-decoration: underline;
}

.tile:hover:after {
  text-decoration: underline;
}

.tile__action {
  background-color: rgb(10, 157, 255);
  color: #fff;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 4px;
  -webkit-transition: all 0.25s ease;
}

.tile:hover .tile__action {
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

.user {
  background-color: #f2f2f2;
  margin-bottom: 40px;
  display: none;
  padding: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.4);
  max-width: 420px;
  border-radius: 2px;
  position: relative;
}

.user__edit {
  display: none !important;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  line-height: 40px !important;
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.user__edit:hover {
  background-color: #ddd;
}

.user__thumb {
  max-width: 70px;
  margin-right: 20px;
}

.user__content {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.user__title {
  color: #333;
}

.user__caption {
  color: #555;
  font-weight: 200;
}

/* SCENES */

@-webkit-keyframes exitChart {

  15% {
    -webkit-transform: translateY(-40px);
  }

  20% {
    -webkit-transform: translateY(0);
  }

  60%,
  100% {
    -webkit-transform: translateY(200%);
  }


}

.content--show-chart .charts {
  display: none;
}